In [1]:


import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [2]:


dfPKInfo_1 = pd.read_excel("PKInfoSection1.xlsx")
dfPKInfo_1

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,584,Roggenrola,Rock,NaN,55,75,85,25,25,15,5,False
1,456,Shieldon,Rock,Steel,30,42,118,42,88,30,4,False
2,702,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
3,537,Mow Rotom,Electric,Grass,50,65,107,105,107,86,4,False
4,393,Absol,Dark,NaN,65,130,60,75,60,75,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
395,513,Weavile,Dark,Ice,70,120,65,45,85,125,4,False
396,174,Croconaw,Water,NaN,65,80,80,59,63,58,2,False
397,434,Grotle,Grass,NaN,75,89,85,55,65,36,4,False
398,492,Gible,Dragon,Ground,58,70,45,40,45,42,4,False
399,130,Staryu,Water,NaN,30,45,55,70,55,85,1,False

In [3]:


dfPKInfo_2 = pd.read_csv ("PKInfoSection2.csv")
dfPKInfo_2

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,497,Riolu,Fighting,NaN,40,70,40,35,40,60,4,False
1,52,Paras,Bug,Grass,35,70,55,45,55,25,1,False
2,73,Machop,Fighting,NaN,70,80,50,35,35,35,1,False
3,78,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
4,124,Kangaskhan,Normal,NaN,105,95,80,40,80,90,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
395,420,Latios,Dragon,Psychic,80,90,80,130,110,110,3,True
396,578,Musharna,Psychic,NaN,116,55,85,107,95,29,5,False
397,184,Crobat,Poison,Flying,85,90,80,70,80,130,2,False
398,389,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
399,738,Flab,Fairy,NaN,44,38,39,61,79,42,6,False

In [4]:


dfPKInfo_1.shape

(400, 12)

In [5]:


dfPKInfo_2.shape

(400, 12)

In [6]:


dfPKInfo_All = pd.concat ([dfPKInfo_1,dfPKInfo_2], axis=0)
dfPKInfo_All

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,584,Roggenrola,Rock,NaN,55,75,85,25,25,15,5,False
1,456,Shieldon,Rock,Steel,30,42,118,42,88,30,4,False
2,702,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
3,537,Mow Rotom,Electric,Grass,50,65,107,105,107,86,4,False
4,393,Absol,Dark,NaN,65,130,60,75,60,75,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
395,420,Latios,Dragon,Psychic,80,90,80,130,110,110,3,True
396,578,Musharna,Psychic,NaN,116,55,85,107,95,29,5,False
397,184,Crobat,Poison,Flying,85,90,80,70,80,130,2,False
398,389,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
399,738,Flab,Fairy,NaN,44,38,39,61,79,42,6,False

In [7]:


dfPKInfo_All.shape

(800, 12)

In [8]:

dfPKInfo_All.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [9]:


dfPKInfo_All.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.0000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,400.5000,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,231.0844,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.0000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,200.7500,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,400.5000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,600.2500,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,800.0000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [10]:
### 10.) Use 'head()' to return the top 6 rows of dfPKInfo_All (Notice that NaN is returning in 'Type 2')

dfPKInfo_All.head(6)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,584,Roggenrola,Rock,NaN,55,75,85,25,25,15,5,False
1,456,Shieldon,Rock,Steel,30,42,118,42,88,30,4,False
2,702,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
3,537,Mow Rotom,Electric,Grass,50,65,107,105,107,86,4,False
4,393,Absol,Dark,NaN,65,130,60,75,60,75,3,False
5,565,Watchog,Normal,NaN,60,85,69,60,69,77,5,False

In [11]:

dfPKInfo_All['Type 2'].fillna('Empty', inplace=False)

0         Empty
1         Steel
2      Fighting
3         Grass
4         Empty
         ...
395     Psychic
396       Empty
397      Flying
398       Empty
399       Empty
Name: Type 2, Length: 800, dtype: object

In [12]:


dfPKInfo_All.head(6)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,584,Roggenrola,Rock,NaN,55,75,85,25,25,15,5,False
1,456,Shieldon,Rock,Steel,30,42,118,42,88,30,4,False
2,702,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
3,537,Mow Rotom,Electric,Grass,50,65,107,105,107,86,4,False
4,393,Absol,Dark,NaN,65,130,60,75,60,75,3,False
5,565,Watchog,Normal,NaN,60,85,69,60,69,77,5,False

In [13]:

dfPKInfo_All['Type 2'].fillna('Empty', inplace=True)

In [14]:


dfPKInfo_All.head(6)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,584,Roggenrola,Rock,Empty,55,75,85,25,25,15,5,False
1,456,Shieldon,Rock,Steel,30,42,118,42,88,30,4,False
2,702,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
3,537,Mow Rotom,Electric,Grass,50,65,107,105,107,86,4,False
4,393,Absol,Dark,Empty,65,130,60,75,60,75,3,False
5,565,Watchog,Normal,Empty,60,85,69,60,69,77,5,False

In [15]:


dfPKBattle = pd.read_excel("Battle.xlsx")
dfPKBattle

       BattleID    #  Win
0         10000  298    1
1         10001  701    1
2         10002  668    1
3         10003  683    1
4         10004  151    1
...         ...  ...  ...
99995     59995  126    0
99996     59996  664    0
99997     59997  303    0
99998     59998   89    0
99999     59999   73    0

[100000 rows x 3 columns]

In [16]:


dfPKBattle.shape

(100000, 3)

In [17]:


dfPKBattle.sample(n=15)

       BattleID    #  Win
56016     16016  240    0
85653     45653  399    0
33395     43395   30    1
89437     49437  760    0
17046     27046  657    1
21350     31350  702    1
65867     25867  207    0
14583     24583  594    1
17060     27060  744    1
69708     29708  695    0
37080     47080  527    1
89862     49862  182    0
67839     27839  392    0
66625     26625  634    0
64834     24834  386    0

In [18]:

dfPKBattleWithNameInfo = pd.merge(dfPKBattle,dfPKInfo_All,on='#',how='inner')
dfPKBattleWithNameInfo

,BattleID,#,Win,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,10000,298,1,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
1,10120,298,1,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
2,10160,298,1,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
3,11424,298,1,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
4,11477,298,1,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,57996,231,0,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
99996,58331,231,0,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
99997,59125,231,0,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
99998,59672,231,0,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
99999,59890,231,0,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False

In [19]:


dfPKBattleWithNameInfo.sample(frac=0.1)

,BattleID,#,Win,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
29141,55059,614,1,Krookodile,Ground,Dark,95,117,80,65,70,92,5,False
3181,51523,767,0,Tyrunt,Rock,Dragon,58,89,77,45,45,48,6,False
50358,16508,313,1,Vigoroth,Normal,Empty,80,80,80,55,55,90,3,False
48152,11615,177,0,Furret,Normal,Empty,85,76,64,45,55,90,2,False
72881,13343,35,0,NidoranÃ¢â„¢â‚¬,Poison,Empty,55,47,52,40,40,41,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6607,49453,673,0,Fraxure,Dragon,Empty,66,117,70,40,50,67,5,False
69984,39685,266,0,Larvitar,Rock,Ground,50,64,50,45,50,41,2,False
47739,12869,267,0,Pupitar,Rock,Ground,70,84,70,65,70,51,2,False
19114,55933,550,1,Darkrai,Dark,Empty,70,90,90,135,90,125,4,True
51961,45929,393,1,Absol,Dark,Empty,65,130,60,75,60,75,3,False

In [20]:
 
dfPKWinner = dfPKBattleWithNameInfo[dfPKBattleWithNameInfo['Win']==1]
dfPKWinner

,BattleID,#,Win,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,10000,298,1,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
1,10120,298,1,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
2,10160,298,1,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
3,11424,298,1,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
4,11477,298,1,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99753,48266,321,1,Makuhita,Fighting,Empty,72,60,30,20,30,25,3,False
99754,52676,321,1,Makuhita,Fighting,Empty,72,60,30,20,30,25,3,False
99755,52817,321,1,Makuhita,Fighting,Empty,72,60,30,20,30,25,3,False
99756,53487,321,1,Makuhita,Fighting,Empty,72,60,30,20,30,25,3,False
99757,58098,321,1,Makuhita,Fighting,Empty,72,60,30,20,30,25,3,False

In [21]:


type(dfPKWinner)

pandas.core.frame.DataFrame

In [22]:

dfType1 = dfPKWinner.groupby(['Type 1'])
print(dfType1['Win'].count())

Type 1
Bug         3772
Dark        2447
Dragon      2490
Electric    3370
Fairy        707
Fighting    1543
Fire        3802
Flying       362
Ghost       1877
Grass       3707
Ground      2088
Ice         1357
Normal      6518
Poison      1571
Psychic     3998
Rock        2299
Steel       1523
Water       6569
Name: Win, dtype: int64

In [23]:

xxx = dfPKWinner['Name'].value_counts()[:15]
xxx

Mewtwo                152
Infernape             136
Aerodactyl            136
Jirachi               134
Slaking               133
Deoxys Speed Forme    133
Murkrow               130
Mega Absol            130
Mega Houndoom         128
Mega Rayquaza         127
Mega Aerodactyl       127
Mega Mewtwo X         125
Leafeon               125
Mega Salamence        125
Scyther               124
Name: Name, dtype: int64

In [24]:

xxx?
type(xxx)

pandas.core.series.Series

In [25]:


StrongestPokemon = xxx.head(1)
StrongestPokemon

dfPKWinner.drop_duplicates
dfPKWinner.dropna()
dfPKWinner.sort_values(by= ['Legendary'])

,BattleID,#,Win,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,10000,298,1,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
55967,30297,286,1,Mightyena,Dark,Empty,70,90,70,60,60,70,3,False
55968,31197,286,1,Mightyena,Dark,Empty,70,90,70,60,60,70,3,False
55969,31318,286,1,Mightyena,Dark,Empty,70,90,70,60,60,70,3,False
55970,32641,286,1,Mightyena,Dark,Empty,70,90,70,60,60,70,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12860,57009,541,1,Dialga,Steel,Dragon,100,120,120,150,100,90,4,True
12859,56208,541,1,Dialga,Steel,Dragon,100,120,120,150,100,90,4,True
12858,53752,541,1,Dialga,Steel,Dragon,100,120,120,150,100,90,4,True
12864,57734,541,1,Dialga,Steel,Dragon,100,120,120,150,100,90,4,True
19125,58826,550,1,Darkrai,Dark,Empty,70,90,90,135,90,125,4,True